    body {
      font-family: Helvetica;
      padding: 0px;
      margin: 0px;
    }

    input, button {
      padding: 4px;
      font-size: 16px;
    }

    #theWall {
      border-top: 2px solid black;
      position: fixed;
      top: 108px;
      bottom: 0px;
      width: 100%;
      overflow: auto;
    }

    #theWall div {
      padding: 6px;
      margin: 6px;
    }

    #theWall .name {
      width: 20%;
      border-bottom: 1px dotted black;
      font-weight: bold;
      float: left;
      text-align: right;
    }

    #theWall .comment {
      width: 70%;
      float: left;
    }

    #name {
      width: 17%;
      text-align: right;
    }

    #comment {
      width: 70%;
    }

    #addComment {
      width: 5%;
    }

    #header {
      background-color: #eee;
      padding: 4px;
    }

    #hl {
      background-color: #feffcb;
    }